* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

#app {
  width: 100vw;
}


body {
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  background-color: #F6F8FC;
}